body{
    padding: 0;
    background-color: #fff;
    margin: 0;
    font-family: Tahoma;
}

nav {
    border-bottom: #2D63BF 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#2d63bf;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #2d63bf;
}

nav a {
    font-size: 20px;
}



nav a {
    padding: 20px;
}

footer {
    background-color: #2D63BF;
    padding: 25px;
    display: flex;
    justify-content: center;
}

small {
    color: #fff;
    font-size: 1.15rem;
    text-align: center;
}

.inicio, .delivery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    height: 70vh;
    padding: 20px;
    margin: 20px 0; 
}

article {
    border: #2d63bf 2px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #deedfb;
    cursor: pointer;
}

.inicio img, .delivery img{
    width: 250px;
}

.servicio {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .opcion {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
}

.delivery article {
    padding: 20px;
}

.Ser_M_Pagos{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 15px auto;
}

.Ser_M_Pagos img {
    width: 200px;
    object-fit: contain;
}

.servicio {
    display: flex;
    justify-content: space-between;
    color:#2d63bf;
    border:#2d63bf 2px solid;
    border-radius: 10px;
}

.servicio button {
    color:#2d63bf;
    background-color:#deedfb;
    border:#2d63bf 2px solid;
    border-radius: 10px;
}

.serv_op {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 15px auto;
}

.opcion {
    display: flex;
    flex-direction: column;
    color:#2d63bf;
    border:#2d63bf 2px solid;
    border-radius: 10px;
}

.opcion button {
    color:#2d63bf;
    background-color:#deedfb;
    border:#2d63bf 2px solid;
    border-radius: 10px;
    width: 40%;
}

.soli{
    max-width: 600px;
    margin: 50px auto;
}

.soli label{
    display: block;
    margin-bottom: 8px;
}

.soli input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.soli button, .soli input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

.soli button:hover {
    background-color: #45a049;
}

textarea {
    width: 600px;
    padding: 1rem;
} 

.soli, .soli select, .soli input[type="submit"], textarea{
    font-size: 1.2rem;
}

.pago {
    max-width: 600px;
    margin: 50px auto;
}

.pago label{
    display: block;
    margin-bottom: 8px;
}

.pago input[type="text"], input[type="number"], select, input[type='password'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.pago button, .pago input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

.pago button:hover {
    background-color: #45a049;
}

.pago, .pago select, .pago input[type="submit"], .pago input{
    font-size: 1.2rem;
}